 <% layout("/layouts/boilerplate.ejs") %>

<body>

    <h3>Listing Detail</h3>

    <ul>
        <li><%=listing.title%></li>
        <li><%=listing.description%></li>
        <li>&#8377;<%=listing.price.toLocaleString("en-IN") %></li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>
    </ul>
    <form method="get" action="http://localhost:8080/listings/<%= listing.id %>/update">
        <button>Edit</button> 
    </form>
    <form method="post" action="http://localhost:8080/listings/<%= listing.id %>?_method=DELETE">
        <button>DELETE LIST</button>
    </form>
    
</body>
