<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderlust</title>
</head>
<body>
    <h3>Edit Details</h3>
    <form method="post" action="http://localhost:8080/listings/<%=listing.id%>?_method=PUT">
 Title: <input name="listing[title]" value="<%=listing.title%>">
 <br><br>
 Description:<textarea name="listing[description]" id=""><%=listing.description%></textarea>
<br><br>
 Price:<input type="text" value="<%=listing.price%>" name="listing[price]">
<br><br>
 Location:<input type="text" name="listing[location]" value="<%=listing.location%>">
<br><br>
 Country:<input type="text" value="<%=listing.country%>" naem="listing[country]">
<br><br>
<button>Submit</button>
    </form>
</body>
</html>